.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    background: url('https://icons8.com/preloaders/preloaders/23/%D0%A1%D0%BF%D0%B0%D1%81%D0%B0%D1%8E%D1%89%D0%B8%D0%B9%D1%81%D1%8F%20%D0%BC%D1%8F%D1%87.gif') no-repeat 50% 50%;
    /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}

.logo {
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.white-btn:visited {
    color: white;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a {
    transition: all 0.3s;
    color: white;
    transform: scale(1);
    display: block;
    -webkit-animation: topshift;
    -o-animation: ;
    animation: ;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
}

.menu li a:active {
    transform: scale(1.2);
}

.menu li:nth-child(2) {
    animation-delay: 0.8s;
}

.menu li:nth-child(3) {
    animation-delay: 1.2s;
}

.menu li:nth-child(4) {
    animation-delay: 1.6s;
}

.menu li:nth-child(5) {
    animation-delay: 2s;
}

.menu li:nth-child(6) {
    animation-delay: 2.4s;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
    opacity: 0;
}

.title__container h1 {
    font-size: 67px;
    font-weight: bold;

}

.title__container h4 {
    margin-top: 40px;
    color: #79818d;
    font-size: 18px;
}

.title__container input {
    height: 40px;
    text-align: center;
    width: 98px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px 0px 16px;
    margin: 63px 14px 0px 14px;
}

.title__container input {
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    background: #344051;
    color: white;
}

.title__container input:active {
    transform: scale(1.1);
}

@media (max-width: 991px) {

    .title__container,
    .title__container h4,
    .title__container input {
        color: white;
        position: relative;
        z-index: 3;
    }

    .title__container input {
        border: 2px solid #fff;
    }

    .main {
        position: relative;
    }

    .main:after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        color: rgba (0, 0, 0, 0.4);
        z-index: 1;
    }
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -200px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.inform {
    width: 100%;
    height: 866px;
    background: url(../img/line.jpg) 50% 23%/auto no-repeat, url(../img/photo.png) 50% 41%/auto no-repeat, url(../img/white.png) center/cover no-repeat;
}

.inform h2 {
    font-size: 30px;
    padding-top: 109px;
    text-align: center;
    /*padding-bottom: 128px;*/
    color: #263244;
}

.text {
    font-size: 15px;
    color: #3f495a;
    margin: 270px 10% 0px 10%;
    text-align: justify
}

.p1 {
    padding-top: 13%;
    padding-bottom: 4%;
}

.p2 {
    padding-bottom: 2.5%;
}

.inform input {
    height: 35px;
    width: 156px;
    text-align: center;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 5px;
    margin-left: calc(50% - 80px);
    color: #7b7c88;
    background: url(../img/icon.png) 6% 50%/auto no-repeat;
    transition: all 0.3s;
    transform: scale(1);
}

.inform input:hover {
    background-color: #6f707e;
    color: white;
    transform: scale(1.1);
}

@media (max-width: 2000px) {
    .p1 {
        padding-top: 10%;
        padding-bottom: 4%;
    }
}

@media (max-width: 767px) {
    .text {
        margin-top: 290px;
    }
}

@media (max-width: 575px) {
    .text {
        margin-top: 310px;
    }
}



.works {
    width: 100%;
    height: 525px;
    background: url(../img/line.jpg) 50% 33%/auto no-repeat, url(../img/casebg.png) center/cover no-repeat;
}

.works h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 109px;
    padding-bottom: 128px;
    color: #263244;
}

.works li {
    float: left;
    text-align: center;
    /*padding-top: 78px;*/
    margin-right: 5%;
    /* margin-left: 6%;*/
    color: #3f495a;
    width: 20%;
}

.works h3 {
    color: #cf7600;
    font-weight: bold;
    font-size: 20px;
}

/*@media (max-width: 1173px) {
    .works {
        height: 725px;
        background: none;
        background: url(../img/line.jpg) 50% 24%/auto no-repeat, url(../img/casebg.png) center/cover no-repeat;
    }

    .works li{
        margin-right: 17% ;
        margin-left: 12%;
    }
    #nout {
        display: block;
        margin-left: 21%;
    }

    #sign {
        display: block;
        margin-left: 21%;

    }

    #rocket {
        display: block;
        margin-left: 21%;
    }

    #dinamik {
        display: block;
        margin-left: 20.5%;
    }
}
*/
@media (max-width: 990px) {
    .works {
        height: 730px;
        background: none;
        background: url(../img/line.jpg) 50% 24%/auto no-repeat, url(../img/casebg.png) center/cover no-repeat;
    }

    .works li {
        margin-right: 0%;
        margin-left: 0%;
        width: 22.5%;
    }

    #nout {
        display: block;
        margin-left: 14%;
    }

    #sign {
        display: block;
        margin-left: 21%;

    }

    #rocket {
        display: block;
        margin-left: 14%;
    }

    #dinamik {
        display: block;
        margin-left: 20.5%;
    }
}

@media (max-width: 767px) {
    .works {
        height: 1125px;
        background: none;
        background: url(../img/line.jpg) 50% 15%/auto no-repeat, url(../img/casebg.png) center/cover no-repeat;
    }

    .works li {
        margin-left: 0%;
        width: 50%;
    }

    #nout {
        display: block;
        margin-left: 21%;
    }

    #sign {
        display: block;
        margin-left: 21.5%;

    }

    #rocket {
        display: block;
        margin-left: 22%;
    }

    #dinamik {
        display: block;
        margin-left: 21.7%;
    }
}

.cases {
    width: 100%;
    height: 1158px;
    background: url(../img/line.jpg) 50% 165px/auto no-repeat, url(../img/site.jpg) center/80% 55% no-repeat;
}

.cases h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 109px;
    padding-bottom: 72px;
    color: #263244;
}

.descrip {
    text-align: center;
    font-size: 15px;
    color: #3f495a;
}

.we {
    margin-top: 673px;
    margin-left: 0%;
    width: 100%;
}

.re {
    margin-top: -216px;
    margin-left: 350px;
    display: block;
    transition: all 0.1s;
}

.text1 {
    display: block;
    margin-left: 7.5%;
}

.data li {

    margin-right: 3%;
    text-align: justify;
}

.data h3 {
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 10px;
    color: #384354;
}

.data {
    color: #3f495a;
}

.cases input {
    border: 2px solid #6d7682;
    background: none;
    display: block;
    margin-top: 23px;
    padding: 9px 42px;
    border-radius: 6px;
    background: #63b5ae;
    color: #ffffff;
    transition: all 0.3s;
    transform: scale(1);
}

.cases input:hover {
    color: #d87135;
    font-size: 16px;
}

.cases input:active {
    transform: scale(0.9);
}

@media (max-width: 991px) {
    .cases {
        background: none;
        background: url(../img/line.jpg) 50% 165px/auto no-repeat, url(../img/site.jpg) center/80% 50% no-repeat;
    }

}

@media (max-width: 767px) {
    .cases {
        height: 1258px;
        background: none;
        background: url(../img/line.jpg) 50% 165px/auto no-repeat, url(../img/site.jpg) center/120% 45% no-repeat;
    }

    .re {
        margin-left: 260px;
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .cases input {
        margin-top: 110px;
    }

    .re {
        margin-left: 200px;
        margin-top: -300px;
    }
}

/*@media (max-width: 500px) {
    .cases {
        background: none;
        background: url(../img/line.jpg) 50% 165px/auto no-repeat, url(../img/site.jpg) center/120% 50% no-repeat;
    }
    .re {
        margin-left: 250px;
        margin-top: -310px;
       
    }
    .cases {
        height: 1258px;
        background: none;
        background: url(../img/line.jpg) 50% 165px/auto no-repeat, url(../img/site.jpg) center/120% 45% no-repeat;
    }

    .cases input {
        margin-top: 49px;
    }

    #site {
        margin-top: 80px;
    }
}

@media (max-width: 575px) {
    .data li {
        margin-right: 10px;
    }

    .re {
        margin-left: 200px;
        margin-top: -310px;
    }
}*/



.price {
    width: 100%;
    height: 770px;
    background: url(../img/greyline.jpg) 49.6% 74%/63.6% no-repeat, url(../img/rama.png) center/auto 100% no-repeat, url(../img/white.jpg) center/cover fixed no-repeat;
}

.price h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 72px;
    font-weight: bold;
    color: #1c2534;
}

.price h3 {
    font-size: 22px;
    margin-left: 18.2%;
    font-weight: 700;
    color: #1c2534;
    transition: all 0.1s;
}

.price select {
    padding-top: 15px;
    padding-bottom: 15px;
    /*padding-left: 26%;*/
    margin: 19px 0px 40px 18.2%;
    background: #eeeeee;
    text-align: center;
    color: #737373;
    transition: all 0.1s;
    width: 63.5%;
}

.begin {
    padding: 12px 0px 0px 18.2%;
    font-weight: 800;
    display: block;
    transition: all 0.1s;
}

.begin1 {
    padding: 12px 0px 0px 18.2%;
    font-weight: 800;
    display: block;
    margin-top: -20px;
    transition: all 0.1s;
}

#I0 {
    display: block;
    margin-left: 76.5%;
    margin-top: -21px;
    transition: all 0.1s;
}

#II0 {
    display: block;
    margin-left: 76.5%;
    margin-top: -21px;
    transition: all 0.1s;
}


.price input {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: #00b6af;
    color: white;
    margin-left: 43%;
    margin-top: 2%;
    transition: all 0.1s;
    transform: scale(1);
}

.price input:hover {
    transform: scale(1.2);
}

.price input:active {
    transform: scale(1.1);
}

@media (max-width: 2000px) {
    .price select {
        width: 43.5%;
        margin-left: 28%;
        /*padding-left: 19%;*/
    }

    .price h3 {
        margin-left: 28%;
    }

    .price {
        background: none;
        background: url(../img/greyline.jpg) 49.6% 74%/43.5% no-repeat, url(../img/rama.png) center/auto 100% no-repeat, url(../img/white.jpg) center/cover fixed no-repeat;
    }

    .begin {
        padding-left: 28%;
    }

    .begin1 {
        padding-left: 28%;
    }

    #I0 {
        margin-left: 59.8%;
    }

    #II0 {
        margin-left: 59.8%;
    }

    .price input {
        margin-left: 46%;
    }
}
@media (max-width: 1450px){
    .price select {
        width: 62%;
        margin-left: 19%;
        /*padding-left: 19%;*/
    }
    .price {
        background: none;
        background: url(../img/greyline.jpg) 49.6% 74%/62% no-repeat, url(../img/rama.png) center/auto 100% no-repeat, url(../img/white.jpg) center/cover fixed no-repeat;
    }

    .price h3 {
        margin-left: 19%;
    }

    .begin {
        padding-left: 19%;
    }

    .begin1 {
        padding-left: 19%;
    }

    #I0 {
        margin-left: 75.5%;
    }

    #II0 {
        margin-left: 75.5%;
    }

    .price input {
        margin-left: 42%;
    }
}
@media (max-width: 991px){
    .price select {
        width: 70%;
        margin-left: 15%;
        /*padding-left: 19%;*/
    }
    .price {
        background: none;
        background: url(../img/greyline.jpg) 49.6% 74%/70% no-repeat, url(../img/rama.png) center/auto 100% no-repeat, url(../img/white.jpg) center/cover fixed no-repeat;
    }

    .price h3 {
        margin-left: 15%;
    }

    .begin {
        padding-left: 15%;
    }

    .begin1 {
        padding-left: 15%;
    }

    #I0 {
        margin-left: 81%;
    }

    #II0 {
        margin-left: 81%;
    }

    .price input {
        margin-left: 42%;
    }
}
@media (max-width: 767px){
    .price input {
        margin-left: 39%;
    }
}
@media (max-width: 575px){
    .price input {
        margin-left: 36%;
    }
}
@media (max-width: 450px){
    .price input {
        margin-left: 33%;
    }
}


.statis {
    width: 100%;
    height: 550px;
    background:
        url(../img/line.png) 50% 32%/auto no-repeat,
        url(../img/statis.jpg) center/auto fixed no-repeat;

}

.statis h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 128px;
    font-weight: 700;
    color: #323e4f;
}

.statis li {
    float: left;
    text-align: center;
    margin-left: 9.5%;
    padding-bottom: 0px;
    font-weight: 600;
    color: #323e4f;
    transition: all 0.3s;
    width: 13%;
}

.statis h3 {
    font-weight: bold;
    font-size: 25px;
    color: #323e4f;
}

@media (max-width: 767px) {
    .statis {
        height: 650px;
        background: none;
        background: url(../img/line.png) 50% 32%/auto no-repeat,
            url(../img/statis.jpg) center/auto fixed no-repeat;
    }

    .statis li {
        margin-left: 18.5%;
        margin-right: 15%;
    }
}

/*@media (max-width: 1173px){
    .statis li{
        margin-left: 8%;
    }
}
@media (max-width: 1000px){
    .statis li{
        margin-left: 7%;
    }
}
@media (max-width: 900px){
    .statis li{
        margin-left: 4%;
    }
}
@media (max-width: 800px){
    .statis li{
        margin-left: 16%;
    }
}
@media (max-width: 700px){
    .statis li{
        margin-left: 12%;
    }
}
@media (max-width: 500px){
    .statis li{
        margin-left: 4%;
    }
}*/

.reviews {
    width: 100%;
    height: 598px;
    background:
        url(../img/dot.png) 50% 90%/auto no-repeat,
        url(../img/ordot.png) 48% 90%/auto no-repeat,
        url(../img/dot.png) 52% 90%/auto no-repeat,
        url(../img/misha.png) center/auto no-repeat,
        url(../img/line.jpg) 50% 26%/auto no-repeat;
    transition: all 0.3s;
}

.misha:hover {
    background: url(../img/heart.png) 35% 85%/29px 29px no-repeat;
    z-index: 2;

}

.reviews h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 128px;
    font-weight: 700;
    color: #243042;
}

.comm {
    text-align: center;
    margin-top: 130px;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 20px;
    color: #243042;
}

.misha {
    text-align: center;
    padding-top: 40px;
    color: #243042;
    transition: all 0.6s;
    display: block;
}

@media (max-width: 930px) {
    .reviews {
        height: 628px;
        background: none;
        background:
            url(../img/dot.png) 50% 90%/auto no-repeat,
            url(../img/ordot.png) 46% 90%/auto no-repeat,
            url(../img/dot.png) 54% 90%/auto no-repeat,
            url(../img/misha.png) 50% 46%/auto no-repeat,
            url(../img/line.jpg) 50% 25%/auto no-repeat;
    }

    .misha:hover {
        background: url(../img/heart.png) 30% 85%/29px 29px no-repeat;
        z-index: 2;

    }

}

@media (max-width: 700px) {
    .reviews {
        height: 668px;
        background: none;
        background:
            url(../img/dot.png) 50% 90%/auto no-repeat,
            url(../img/ordot.png) 46% 90%/auto no-repeat,
            url(../img/dot.png) 54% 90%/auto no-repeat,
            url(../img/misha.png) 50% 42.5%/auto no-repeat,
            url(../img/line.jpg) 50% 23%/auto no-repeat;
    }

    .misha:hover {
        background: url(../img/heart.png) 21% 100%/29px 29px no-repeat;
        z-index: 2;

    }
}

@media (max-width: 500px) {
    .misha:hover {
        background: url(../img/heart.png) 30px 100%/29px 29px no-repeat;
        z-index: 2;

    }
}


.contacts {
    width: 100%;
    height: 859px;
    background:
        url(../img/line.png) 50% 20%/auto no-repeat,
        url(../img/contact.jpg) center/cover no-repeat;
    color: #fff;
}

.contacts h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 80px;
    font-weight: 700;
}

.Im {
    text-align: center;
    font-size: 15px;
}

.contacts li {
    float: left;
    margin-top: 35px;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    line-height: 20px;
    transition: all 0.1s;
}
#geo{
    display: block;
    position: absolute;
    z-index: 4;
    width: 50%;
}
#letter{
    display: block;
    position: absolute;
    z-index: 4;
    width: 97%;
}
#phone{
    display: block;
    position: absolute;
    z-index: 4;
    width: 40%;
    margin-left: 52%;
}

.contacts h3 {
    margin-top: 170px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0, 5px;
    font-weight: 600;
}

.name {
    margin-top: 50px;
    padding: 10px 4.5px 10px 0px;
    background: #fff;
    margin-right: 2.85%;
    background-color: rgba(216, 220, 226, 0.8);
    width: 35.8%;
}

#you {
    margin-left: 12.3%;
}

.contacts textarea {
    margin: 10px 0px 0px 12.3%;
    height: 80px;
    background-color: rgba(216, 220, 226, 0.8);
    width: 74.8%;
}

.myBtn {
    display: block;
    margin-left: 46.7%;
    margin-top: 30px;
    padding: 12px 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 0, 1px;
    transition: all 0.3s;
}

.myBtn:hover {
    -webkit-animation: heartBeat 2s infinite;
    -o-animation: heartBeat 2s infinite;
    animation: heartBeat 2s infinite;
}

@keyframes heartBeat {
    animate__heartBeat;
}
@media (max-width: 1600px){
    .myBtn{ margin-left: 45%;}
}
@media (max-width: 1100px){
    .myBtn{ margin-left: 43%;}
}
@media (max-width: 991px) {
    #geo{
    width: 32%;
}
#letter{
    width: 95%;
}
#phone{
    width: 40%;
    margin-left: 58%;
}
    .myBtn {
    margin-left: 43%;
}
}
@media (max-width: 900px) {
    #geo{
    width: 32%;
}
#letter{
    width: 93%;
}
#phone{
    width: 40%;
    margin-left: 55%;
}
    .myBtn {
    margin-left: 41%;
}
}
@media (max-width: 600px) {
    #geo{
    width: 30%;
}
#letter{
    width: 89%;
    margin-left: 1%;
}
#phone{
    width: 40%;
    margin-left: 54%;
}
    .myBtn {
    margin-left: 38%;
}
}
@media (max-width: 530px) {
    #geo{
    width: auto;
    margin-left: -4%;    
}
#letter{
    width: 88%;
}
#phone{
    width: auto;
    margin-left: 69%;
}
    .myBtn {
    margin-left: 35%;
}
}
/*@media (max-width: 767px) {
    .contacts li {
        width: auto;
        padding-left: 6%;
        padding-right: 0%;
    }

    .myBtn {
        margin-left: 39%;
    }

}

@media (max-width: 991px) {
    .contacts li {
        padding-left: 12%;
    }
}*/

/*@media (max-width: 767px){
    .contacts li{
       padding-left: 8%;
    }
    .myBtn{
    margin-left: 39%;
}
}*/
/*@media (max-width: 705px) {
    .contacts li {
        width: auto;
        padding-left: 4.4%;
        padding-right: 0%;
    }
}

@media (max-width: 500px) {
    .contacts li {
        padding-left: 0%;
    }

    .myBtn {
        margin-left: 35%;
    }
}*/

.Here {
    width: 100%;
    height: 351px;
    background: url(../img/map1.jpg) center/cover no-repeat;
}

.its_me {
    margin-top: 140px;
    margin-left: 45%;
    transition: all 2s;
}

.its_me:hover {
    -webkit-animation: flash 2s infinite;
    -o-animation: ;
    animation: ;
}

@keyframes flash {
    animate__flash;
}

@media (max-width: 767px) {
    .its_me {
        margin-left: 40%;
    }
}

@media (max-width: 575px) {
    .its_me {
        margin-left: 40%;
    }
}

@media (max-width: 500px) {
    .its_me {
        margin-left: 35%;
    }
}

.ending {
    width: 100%;
    height: 96px;
    background: #344051;
}

.Copyr {
    color: #fff;
    text-align: center;
    line-height: 96px;
    letter-spacing: 0, 5px;
}
